<!DOCTYPE html　>
<html lang="en"xmlns:th="http://www.thymeleaf.org"　>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row" data-th-fragment="userset">
    <div class="col-md-12">
                    <span>
                    <a class="blog-edit-avatar" data-toggle="modal"
                       data-target="#flipFlop" role="button">
								<img th:src="${user.avatar} == null ? '/images/default-avatar.jpg' : ${user.avatar}"
                                     class="user-avatar-250">
					</a>
                    </span>
    </div>
    <div class=" my-4 col-md-12">
        <h5 class="card-header"><i class="fa fa-bars" aria-hidden="true"></i> 个人设置</h5>
        <ul class="list-group">
            <li href="#" class="list-group-item d-flex justify-content-between align-items-center">
                <a th:href="@{'/user/'+${user.username}+'/profilePage'}">信息设置</a>
            </li>
            <li href="#" class="list-group-item d-flex justify-content-between align-items-center">
                <a th:href="@{'/user/'+${user.username}+'/rePasswordPage'}">密码修改</a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>