<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wayming.codeland.dao.ArticleCatalogMapper" >
  <resultMap id="BaseResultMap" type="com.wayming.codeland.pojo.eo.ArticleCatalog" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="article_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="catalog_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, article_id, catalog_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_catalog
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="getByArticleId" parameterType="integer" resultType="com.wayming.codeland.pojo.eo.ArticleCatalog">
      select
      <include refid="Base_Column_List" />
      from article_catalog
      where article_id = #{articleId}

    </select>
  <select id="getByCatalogId" resultType="com.wayming.codeland.pojo.eo.ArticleCatalog">
    select
    <include refid="Base_Column_List" />
    from article_catalog
    where catalog_id = #{catalogId}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_catalog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wayming.codeland.pojo.eo.ArticleCatalog" >
    insert into article_catalog (id, article_id, catalog_id)
    values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{catalogId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wayming.codeland.pojo.eo.ArticleCatalog" >
    insert into article_catalog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="catalogId != null" >
        catalog_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="catalogId != null" >
        #{catalogId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wayming.codeland.pojo.eo.ArticleCatalog" >
    update article_catalog
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="catalogId != null" >
        catalog_id = #{catalogId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wayming.codeland.pojo.eo.ArticleCatalog" >
    update article_catalog
    set article_id = #{articleId,jdbcType=INTEGER},
      catalog_id = #{catalogId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>